<!DOCTYPE html>
<html>
<head>
  <title>AP</title>
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/font.css" rel="stylesheet" type="text/css">
  <script>
    var vkClientId   = 1234567;
    var redirectUrl  = 'http://localhost:3449/';
    var lastfmApiKey = '6978df4845bc3727f0a4759c67fd2743';
  </script>
</head>
<body>
  <div id="app">
    <div class="loading">Loading...</div>
  </div>
  <script src="js/compiled/ap.js" type="text/javascript"></script>
</body>
</html>
