@import url(http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
}

html, body, #app, #player, .player {
  width: 100%;
  height: 100%;
}

#app {
  background: url(/img/bg.jpg) repeat center center;
  background-size: cover;
}

.loading {
  position: absolute;
  top: 50%; left: 50%;
  margin: -25px 0 0 -100px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.auth {
  position: absolute;
  top: 50%; left: 50%;
  margin: -25px 0 0 -100px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.auth--btn {
  padding: 10px 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, .6);
  border: 2px rgba(255, 255, 255, .6) solid;
  background-color: rgba(255, 255, 255, .05);
}

.auth--btn:hover {
  color: rgba(255, 255, 255, .9);
  border: 2px rgba(255, 255, 255, .9) solid;
  background-color: rgba(255, 255, 255, .1);
}

.player {
}

.counter {
  position: absolute;
  top: 10px; right: 15px;
}

.playlist {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: auto;
  font-size: 80%;
}

.playlist--item {
  /*height: 20px;*/
  padding: 7px;
  overflow: hidden;
}

.playlist--item:hover {
  cursor: pointer;
  background: #aaa;
}

.track--mdash {
  margin: 0 5px;
}

.current-track {
  position: absolute;
  top: 50%; left: 50%;
  margin: -200px 0 0 -200px;
  width: 400px;
  height: 400px;
}

.current-track .cover img {
  width: 200px;
}
